h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-light);
	margin-bottom: 8px;
}

p,
div {
	color: var(--text);
}

.light-theme {
	filter: brightness(1.5) invert(1);
}

.layout {
	display: flex;

	width: 100%;
	height: 100%;

	gap: 128px;
}

section,
.left form {
	padding: 16px;
	border: 2px solid var(--border-color);
	border-radius: 16px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label:not(:first-of-type) {
	margin-top: 8px;
}

input {
	margin-bottom: 8px;
	padding: 8px;
	border: 2px solid var(--bg-light);
	border-radius: 8px;

	background-color: transparent;
	color: inherit;
}

button {
	padding: 8px 16px;
	border: 2px solid var(--bg-light);
	border-radius: 8px;

	background-color: transparent;
	color: var(--text-light);

	cursor: pointer;
}

button:hover {
	backdrop-filter: brightness(1.25);
}

button:active {
	backdrop-filter: brightness(1.5);
}

.right {
	padding: 16px;
	border: 2px solid var(--border-color);
	border-radius: 8px;

	width: 768px;
}

.task-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-text {
	color: var(--text-light);
	font-weight: bold;
}

.highlight {
	color: var(--text-light);
}

.form-message {
	margin-bottom: 8px;
}

.success {
	color: rgb(94, 180, 83);
}

.error {
	color: rgb(180, 83, 83);
}
